.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  10px;
  transition: background 300ms;
}

.tarefas li:hover,
.tarefas li:focus {
  background-color: #51c5de;
}

.tarefas .editing {
  background-color: cadetblue;
}

.tarefas li .edit {
  cursor: pointer;
  margin-right: 15px;
  color: #51c5de;
}

.tarefas li .delete {
  cursor: pointer;
  margin-right: 15px;
  color: #f04c64;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete,
.tarefas li:focus .edit,
.tarefas li:focus .delete {
  color: black;
}
